:root {
  --primaryColor: #00a5ff;
  --seconderyColor: #01126c;
  --color3: #3e5570;
  --color4: #95afc0;
  --color5: #d1d8e0;
  --white: #ffffff;
  --borderColor: #707070;

  /*  comon fonts*/

  --fontSizeXs: 13px;
  --fontSizeS: 14px;
  --fontSizeM: 15px;

  /* heading fonts */
  --fontSizeLH: 30px;
  --fontSizeMH: 25px;
  --fontSizeSH: 22px;

  /* button fonts */
  --BtnFontSizeXs: 13px;
  --BtnFontSizeS: 14px;
  --BtnFontSizeM: 15px;

  /* gradient and shadow */
  --buttonGradient: linear-gradient(to right, #00a5ff, #58c5ff);
  --BoxShadowForBoxes: -3px 0px 15px rgb(108 99 255 / 10%);
  --activecolor: #00a5ff;
}
