/*=================================================
============= start sign in page css ==============
===================================================*/
/* start sign in wrapper inner */
.SignInWrapperInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 15px;
}
@media (min-width: 768px) {
  .SignInWrapperInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding: 0px;
  }
}
/* end sign in wrapper inner */
/*=================================================
============= end sign in page css ================
===================================================*/

/*=================================================
============= start sign in left css ==============
===================================================*/
.SignInWrapperLeft {
  padding: 50px;
  display: none;
}
.SignInWrapperLeftImg {
  max-width: 400px;
  width: 100%;
}

.SignInWrapperLeftImg img {
  width: 100%;
}

/* responsive */
@media (min-width: 768px) {
  .SignInWrapperInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding: 0px;
  }
  .SignInWrapperLeft {
    padding: 50px;
    width: calc(100% - 380px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 991px) {
  .SignInWrapperLeft {
    padding: 70px;
    width: calc(100% - 480px);
  }
  .SignInWrapperLeftImg {
    max-width: 500px;
  }
}
@media (min-width: 1366px) {
  .SignInWrapperLeft {
    width: calc(100% - 640px);
  }
  .SignInWrapperLeftImg {
    max-width: 650px;
  }
}
/*=================================================
============= end sign in left css ================
===================================================*/

/*=================================================
============= start sign in right css =============
===================================================*/
.SignInWrapperRight {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100vh;
  box-shadow: var(--BoxShadowForBoxes);
}
.SignInRightLogo {
  max-width: 200px;
  width: 100%;
  margin-bottom: 110px;
}
.SignInRightLogo img {
  width: 100%;
}

/* start Login form area*/
.LoginFormMainHeading {
  font-size: var(--fontSizeSH);
  font-weight: 600;
  color: var(--seconderyColor);
  margin-bottom: 10px;
}
.LoginFormSubHeading {
  font-size: var(--fontSizeXs);
  font-weight: 500;
  color: var(--color3);
  margin-bottom: 60px;
  line-height: 23px;
}

/* start remember text */

.ForgotPassRemember {
  display: flex;
  justify-content: space-between;
}
.RememberText input {
  margin-right: 8px;
}
.RememberText label,
.ForgotPass span {
  font-size: var(--fontSizeXs);
  font-weight: 400;
  color: var(--seconderyColor);
}
.ForgotPass span a {
  color: var(--seconderyColor);
}
.ForgotPass span a:hover {
  color: var(--primaryColor);
}
/* end remember text */

/*end login form */

/* new on platform */
.NewOnYourPlatForm {
  text-align: center;
  margin-top: 35px;
}
.NewOnPlatFormText {
  font-size: var(--fontSizeXs);
  font-weight: 400;
}
.CreateAccountLink a {
  font-size: var(--fontSizeXs);
  font-weight: 400;
  color: var(--primaryColor);
  display: inline-block;
  transition: all 0.3s;
}
.CreateAccountLink a i {
  font-size: 13px;
  margin-right: 10px;
}

.CreateAccountLink a:hover {
  color: var(--seconderyColor);
}
/* end Login form area */

/* responsive */
@media (min-width: 768px) {
  .SignInWrapperRight {
    max-width: 380px;
    width: 100%;
    padding: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .LoginFormSubHeading,
  .RememberText label,
  .ForgotPass span,
  .NewOnPlatFormText,
  .CreateAccountLink a {
    font-size: var(--fontSizeS);
  }
  .LoginFormMainHeading {
    font-size: var(--fontSizeMH);
  }
}
@media (min-width: 991px) {
  .SignInWrapperRight {
    max-width: 480px;
    width: 100%;
    padding: 50px;
  }
  .LoginFormMainHeading {
    font-size: var(--fontSizeMH);
  }
  .LoginFormSubHeading,
  .RememberText label,
  .ForgotPass span,
  .NewOnPlatFormText,
  .CreateAccountLink a {
    font-size: var(--fontSizeM);
  }
}
@media (min-width: 1366px) {
  .SignInWrapperRight {
    max-width: 640px;
    padding: 70px;
  }
}
/*=================================================
============= end sign in right css ===============
===================================================*/
