/*start admin pannel left css */
.adminPannelLeft {
  max-width: 270px;
  width: 100%;
  background-color: var(--white);
  height: 100vh;
  min-height: 600px;
  padding: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: var(--BoxShadowForBoxes);
  position: fixed;
  left: 0;
  overflow-y: scroll;
}

/* top; */
.dashNavtop {
  height: 80vh;
  min-height: 600px;
}
.adminPannelLogo {
  height: 120px;
}
.pannelItems {
  height: calc(80vh - 120px);
}

.dashNavText {
  font-size: var(--fontSizeM);
  font-weight: 400;
  line-height: 24px;
  color: var(--color3);
}
.dashNavItem {
  padding: 10px 20px;
  display: flex;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}
.dashNavItem:hover {
  background-image: var(--buttonGradient);
}
.dashNavItem:hover .dashNavIcon {
  filter: brightness(0) invert(1);
}
.dashNavItem:hover .dashNavText {
  color: var(--white);
}
.dashNavIcon {
  margin-right: 15px;
}
/* bottom */
.dashNavbottom {
  height: 15vh;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
}
.dashNavbottom ul {
  width: 100%;
}

/* scrollbar */
.adminPannelLeft::-webkit-scrollbar {
  display: none;
}

.adminPannelLeft.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*end admin pannel left css */ ;
